In [1]:
import mysql.connector

# Establish connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="mysql",
    database="sakila"
)

# Check if the connection is successful
if conn.is_connected():
    print("Connected to MySQL database!")
    
# Create a cursor object to interact with the database    
cursor = conn.cursor()

Connected to MySQL database!

In [2]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    department VARCHAR(50),
    salary FLOAT
)
""")
conn.commit()
print("Table created successfully!")

Table created successfully!

In [3]:
sql_insert = "INSERT INTO employees (name, department, salary) VALUES (%s, %s, %s)"
values = [
    ("Alice", "HR", 60000),
    ("Bob", "IT", 75000),
    ("Charlie", "Finance", 72000)
]

cursor.executemany(sql_insert, values)  # Inserts multiple rows
conn.commit()  # Commit the transaction
print("Data inserted successfully!")

Data inserted successfully!

In [4]:
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()  # Fetch all rows

# Display results
for row in rows:
    print(row)

(1, 'Alice', 'HR', 60000.0)
(2, 'Bob', 'IT', 75000.0)
(3, 'Charlie', 'Finance', 72000.0)

In [5]:
sql_update = "UPDATE employees SET salary = salary + 5000 WHERE department = 'IT'"
cursor.execute(sql_update)
conn.commit()
print("Salary updated for IT department!")

Salary updated for IT department!

In [6]:
cursor.execute("SELECT * FROM employees WHERE department = 'IT'")
print(cursor.fetchall())

[(2, 'Bob', 'IT', 80000.0)]

In [7]:
sql_delete = "DELETE FROM employees WHERE name = 'Charlie'"
cursor.execute(sql_delete)
conn.commit()
print("Record deleted successfully!")

Record deleted successfully!

In [8]:
cursor.execute("SELECT * FROM employees")
print(cursor.fetchall())

[(1, 'Alice', 'HR', 60000.0), (2, 'Bob', 'IT', 80000.0)]

In [9]:
try:
    cursor.execute("UPDATE employees SET salary = salary - 5000 WHERE department = 'IT'")
    raise Exception("Simulated Error!")  # Simulating an issue
    conn.commit()  # This won't execute because of the error
except Exception as e:
    conn.rollback()  # Rolls back to the previous state
    print("Transaction rolled back due to error:", e)

Transaction rolled back due to error: Simulated Error!

In [10]:
cursor.close()
conn.close()
print("Database connection closed!")

Database connection closed!