In [1]:
import pymysql
import pandas as pd
import time
from sqlalchemy import create_engine, text
from sqlalchemy.pool import QueuePool

# Step 1: Establish Connection to MySQL WITHOUT Connection Pooling
db_url_no_pool = "mysql+pymysql://root:mysql@localhost/sakila"  # Update with actual credentials
engine_no_pool = create_engine(db_url_no_pool, poolclass=None)
print("Connected to MySQL without connection pooling!")

# Step 2: Establish Connection to MySQL WITH Connection Pooling
db_url_pool = "mysql+pymysql://root:mysql@localhost/sakila"  # Update with actual credentials
engine_pool = create_engine(db_url_pool, poolclass=QueuePool, pool_size=5, max_overflow=10)
print("Connected to MySQL using connection pooling successfully!")

Connected to MySQL without connection pooling!
Connected to MySQL using connection pooling successfully!

In [2]:
# Step 3: Create and Populate Employees Table
with engine_pool.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS employees;"))
    conn.execute(text("""
        CREATE TABLE employees (
            id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(100),
            department VARCHAR(50),
            salary DECIMAL(10,2),
            hire_date DATE
        );
    """))
    print("Employees table dropped and recreated successfully.")
    
    # Insert 20 sample rows
    employees_data = [
        {"name": f"Employee{i}", "department": "Department" + str(i % 5), "salary": 50000 + (i * 1000), "hire_date": f"202{(i%3)+1}-0{(i%9)+1}-15"}
        for i in range(1, 21)
    ]
    conn.execute(text("""
        INSERT INTO employees (name, department, salary, hire_date) VALUES 
        (:name, :department, :salary, :hire_date);
    """), employees_data)
    conn.commit()
    print("Inserted 20 sample employee records successfully.")

Employees table dropped and recreated successfully.
Inserted 20 sample employee records successfully.

In [3]:
# Step 4: Function to Fetch Data WITHOUT Connection Pooling
def fetch_data_no_pool():
    query = text("SELECT * FROM employees;")
    with engine_no_pool.connect() as conn:
        result = conn.execute(query)
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    return df

# Step 5: Function to Fetch Data WITH Connection Pooling
def fetch_data_with_pool():
    query = text("SELECT * FROM employees;")
    with engine_pool.connect() as conn:
        result = conn.execute(query)
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    return df

In [4]:
# Step 6: Measure Execution Time WITHOUT Connection Pooling
start_time = time.time()
print("\nFetching data WITHOUT connection pooling:")
for _ in range(5):  # Simulating multiple queries without pooling
    df_no_pool = fetch_data_no_pool()
    print(df_no_pool.head())  # Display first few rows for each request
end_time = time.time()
time_no_pool = end_time - start_time
print(f"Time taken WITHOUT connection pooling: {time_no_pool:.4f} seconds")

# Step 7: Measure Execution Time WITH Connection Pooling
start_time = time.time()
print("\nFetching data WITH connection pooling:")
for _ in range(5):  # Simulating multiple queries with pooling
    df_pool = fetch_data_with_pool()
    print(df_pool.head())  # Display first few rows for each request
end_time = time.time()
time_with_pool = end_time - start_time
print(f"Time taken WITH connection pooling: {time_with_pool:.4f} seconds")

# Compare Performance
improvement = ((time_no_pool - time_with_pool) / time_no_pool) * 100
print(f"\nConnection pooling improved query execution by {improvement:.2f}%.")
print("\nConnection pooling demonstration completed.")

Fetching data WITHOUT connection pooling:
   id       name   department    salary   hire_date
0   1  Employee1  Department1  51000.00  2022-02-15
1   2  Employee2  Department2  52000.00  2023-03-15
2   3  Employee3  Department3  53000.00  2021-04-15
3   4  Employee4  Department4  54000.00  2022-05-15
4   5  Employee5  Department0  55000.00  2023-06-15
   id       name   department    salary   hire_date
0   1  Employee1  Department1  51000.00  2022-02-15
1   2  Employee2  Department2  52000.00  2023-03-15
2   3  Employee3  Department3  53000.00  2021-04-15
3   4  Employee4  Department4  54000.00  2022-05-15
4   5  Employee5  Department0  55000.00  2023-06-15
   id       name   department    salary   hire_date
0   1  Employee1  Department1  51000.00  2022-02-15
1   2  Employee2  Department2  52000.00  2023-03-15
2   3  Employee3  Department3  53000.00  2021-04-15
3   4  Employee4  Department4  54000.00  2022-05-15
4   5  Employee5  Department0  55000.00  2023-06-15
   id       name   department    salary   hire_date
0   1  Employee1  Department1  51000.00  2022-02-15
1   2  Employee2  Department2  52000.00  2023-03-15
2   3  Employee3  Department3  53000.00  2021-04-15
3   4  Employee4  Department4  54000.00  2022-05-15
4   5  Employee5  Department0  55000.00  2023-06-15
   id       name   department    salary   hire_date
0   1  Employee1  Department1  51000.00  2022-02-15
1   2  Employee2  Department2  52000.00  2023-03-15
2   3  Employee3  Department3  53000.00  2021-04-15
3   4  Employee4  Department4  54000.00  2022-05-15
4   5  Employee5  Department0  55000.00  2023-06-15
Time taken WITHOUT connection pooling: 0.1278 seconds

Fetching data WITH connection pooling:
   id       name   department    salary   hire_date
0   1  Employee1  Department1  51000.00  2022-02-15
1   2  Employee2  Department2  52000.00  2023-03-15
2   3  Employee3  Department3  53000.00  2021-04-15
3   4  Employee4  Department4  54000.00  2022-05-15
4   5  Employee5  Department0  55000.00  2023-06-15
   id       name   department    salary   hire_date
0   1  Employee1  Department1  51000.00  2022-02-15
1   2  Employee2  Department2  52000.00  2023-03-15
2   3  Employee3  Department3  53000.00  2021-04-15
3   4  Employee4  Department4  54000.00  2022-05-15
4   5  Employee5  Department0  55000.00  2023-06-15
   id       name   department    salary   hire_date
0   1  Employee1  Department1  51000.00  2022-02-15
1   2  Employee2  Department2  52000.00  2023-03-15
2   3  Employee3  Department3  53000.00  2021-04-15
3   4  Employee4  Department4  54000.00  2022-05-15
4   5  Employee5  Department0  55000.00  2023-06-15
   id       name   department    salary   hire_date
0   1  Employee1  Department1  51000.00  2022-02-15
1   2  Employee2  Department2  52000.00  2023-03-15
2   3  Employee3  Department3  53000.00  2021-04-15
3   4  Employee4  Department4  54000.00  2022-05-15
4   5  Employee5  Department0  55000.00  2023-06-15
   id       name   department    salary   hire_date
0   1  Employee1  Department1  51000.00  2022-02-15
1   2  Employee2  Department2  52000.00  2023-03-15
2   3  Employee3  Department3  53000.00  2021-04-15
3   4  Employee4  Department4  54000.00  2022-05-15
4   5  Employee5  Department0  55000.00  2023-06-15
Time taken WITH connection pooling: 0.0482 seconds

Connection pooling improved query execution by 62.31%.

Connection pooling demonstration completed.